body{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contHold{
    margin-top: 15px;
    border:1px solid #a113b4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a113b4;
    width: 600px;
    height: 650px;
}
.container{
    text-align: center;
    background-color: #fff;
    width: 400px;
    height: 450px;
    border: 2px solid black;
    border-radius: 5px;
}
.taskadd{
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addBtn{
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    width: 66px;
    height: 25px;
}
#myInput{
    margin: 8px;
    padding: 10px;
    width: 400px;
    height: 40px;
}
ul{
    list-style-type: none;
    text-align: center;

}
.colorchange{
    color : red;
}
li{
    padding: 5px;
    font-size: 20px;
}
#delete-icn{
    height: 20px;
    width: auto;
}
li::before{
    
}
