*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

body{
    background-color: #1C1C1C;
}

.contHold{
    width: 50%;
    height: 80%;
    background-color: purple;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
}

.container{
    width: 100%;
    height: 100%;
    background-color: #212020;
    color: rgb(233, 229, 229);
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.container .app-title{
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 3px 3px 5px rgba(249, 246, 246, 0.5);
    margin-bottom: 15px;
}

.taskadd{
    width: 80%;
    display: flex;
    gap: 10px;
}

.taskadd input{
    width: 80%;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: sans-serif;
}

.taskadd button{
    width: 15%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(0, 123, 255);
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.taskadd button i{
    margin-right: 5px;
}


.tasks{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 10px 15px;
    scroll-behavior: smooth;
    position: relative;
}

.tasks::-webkit-scrollbar{
    display: none;
}

.tasks .noTask{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    color: rgba(233, 229, 229, 0.361);
}

.tasks .task{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #514d4d;
    padding: 10px;
    border-radius: 5px;
    gap: 5px;
}

.tasks .task h3{
    width: 80%;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
}

.tasks .task button{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgba(255, 0, 0, 0.844);
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 15px;
}

.tasks .task button i{
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
